<footer class="page-footer font-small blue bottom" style="margin-top: 200px; background-color: #3aafa9 !important;">
    <div class="footer-copyright text-center py-3" style="color: #feffff !important;">© 2020 Copyright:
      <a href="/" style="color: #def2f1 !important;"> RateMyArt.com</a>
    </div>  
  </footer>
